<?xml version='1.0' encoding='utf-8'?>
<widget id="{{lowercase id}}" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>{{name}}</name>
    <description>
        A Platypi CLI cordova app
    </description>
    <author email="support@platypi.io" href="https://platypi.io">
        Platypi Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="KeyboardShrinksView" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="SplashScreen" value="screen" />
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-targetSdkVersion" value="22"/>
    <preference name="android-minSdkVersion" value="16"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="maps:*" />

    <platform name="android">
        <allow-intent href="market:*" />

        <icon src="res/platform/android/res/drawable-hdpi/appicon.png" density="hdpi" />
        <icon src="res/platform/android/res/drawable-ldpi/appicon.png" density="ldpi" />
        <icon src="res/platform/android/res/drawable-mdpi/appicon.png" density="mdpi" />
        <icon src="res/platform/android/res/drawable-xhdpi/appicon.png" density="xhdpi" />
        <icon src="res/platform/android/res/drawable-xxhdpi/appicon.png" density="xxhdpi" />
        <icon src="res/platform/android/res/drawable-xxxhdpi/appicon.png" density="xxxhdpi" />

        <splash src="res/app/assets/android/images/res-long-port-hdpi/default.png" density="port-hdpi"/>
        <splash src="res/app/assets/android/images/res-long-port-ldpi/default.png" density="port-ldpi"/>
        <splash src="res/app/assets/android/images/res-long-port-mdpi/default.png" density="port-mdpi"/>
        <splash src="res/app/assets/android/images/res-long-port-xhdpi/default.png" density="port-xhdpi"/>
        <splash src="res/app/assets/android/images/res-long-port-xxhdpi/default.png" density="port-xxhdpi"/>
        <splash src="res/app/assets/android/images/res-long-port-xxxhdpi/default.png" density="port-xxxhdpi"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/app/assets/iphone/appicon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/app/assets/iphone/appicon-60.png" width="60" height="60" />
        <icon src="res/app/assets/iphone/appicon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/app/assets/iphone/appicon-76.png" width="76" height="76" />
        <icon src="res/app/assets/iphone/appicon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="res/app/assets/iphone/appicon-Small-40.png" width="40" height="40" />
        <icon src="res/app/assets/iphone/appicon-Small-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="res/app/assets/iphone/appicon.png" width="57" height="57" />
        <icon src="res/app/assets/iphone/appicon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/app/assets/iphone/appicon-72.png" width="72" height="72" />
        <icon src="res/app/assets/iphone/appicon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/app/assets/iphone/appicon-Small.png" width="29" height="29" />
        <icon src="res/app/assets/iphone/appicon-Small@2x.png" width="58" height="58" />
        <icon src="res/app/assets/iphone/appicon-Small@3x.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/app/assets/iphone/appicon-Small-50.png" width="50" height="50" />
        <icon src="res/app/assets/iphone/appicon-Small-50@2x.png" width="100" height="100" />
        <!-- images are determined by width and height. The following are supported -->
        <splash src="res/app/assets/iphone/Default.png" width="320" height="480" />
        <splash src="res/app/assets/iphone/Default@2x.png" width="640" height="960" />
        <splash src="res/app/assets/iphone/Default-568h@2x.png" width="640" height="1136" />
        <splash src="res/app/assets/iphone/Default-667h@2x.png" width="750" height="1334" />
        <splash src="res/app/assets/iphone/Default-Portrait.png" width="768" height="1024" />
        <splash src="res/app/assets/iphone/Default-Portrait@2x.png" width="1536" height="2048" />
        <splash src="res/app/assets/iphone/Default-Portrait-736h@3x.png" width="1242" height="2208" />
    </platform>
    <engine name="android" spec="^4.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="^2.1.0" />
    <plugin name="cordova-plugin-network-information" spec="^1.0.1" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="^1.2.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.0.0" />
</widget>
